@{
  Layout = "_Layout";
}
@using Bakery.Models;

<h1>VENDORS</h1>
<h2>Click a vendor below for details:</h2>

@if (@Model.Count == 0)
{
  <h3>currently empty...</h3>
}
@foreach (Vendor vendor in Model)
{
  <h2><a href='/vendors/@vendor.Id'>@vendor.VendorName</a></h2>
}
<h3><a href='/vendors/new'>Add a new Vendor</a></h3>
<p><a href='/'>Home Page</a></p>