@{
  Layout = "_Layout";
}
<h1>Order for Vendor:</h1>

@using Bakery.Models;


<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderTitle</a></li>
}
</ol>

<h3><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h3>
<h3><a href='/vendors'>Return to vendor list</a></h3>
<h3><a href='/'>Home Page</a></h3>
